<section class="panel panel-default shadow">
    <div class="panel-heading">
        <h2 class="panel-title text-center">Categories</h2>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <span ng-click="removeCategoryFiltration()" class="list-group-item"> All </span>
            <span href="#" ng-click="filterByCategory(category.id)" class="list-group-item"
               ng-repeat="category in categories">
                {{category.name}} </span>
        </div>
    </div>
</section>