<section class="panel panel-default shadow">
    <div class="panel-heading">
        <h2 class="panel-title text-center">Navigation</h2>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a href="#/admin/home" class="list-group-item">Ads</a>
            <a href="#/admin/users/list" class="list-group-item">Users</a>
            <a href="#/admin/categories/list" class="list-group-item">Categories</a>
            <a href="#/admin/towns/list" class="list-group-item">Towns</a>
        </div>
    </div>
</section>