<div class="row" ng-controller="HomeController">
    <aside class="col-md-2">
        <section class="panel panel-default shadow">

            <div class="panel-body">
                <p><strong>To publish a new ad, please login.</strong></p>

                <p>
                    <button class="btn btn-default" style="width: 100%;">Login</button>
                </p>
                <p>
                    <button class="btn btn-default" style="width: 100%;">Register</button>
                </p>
            </div>
        </section>
    </aside>
    <div class="col-md-8">
        <div class="panel panel-default shadow" ng-repeat="ad in ads">

            <div class="panel-body">
                <h2 class="item-heading">{{ad.title}}</h2>
                <span class="item-date">{{ad.date}}</span>

                <div class="clear"></div>
                <div class="label label-default">
                    I get my way
                </div>
            </div>
        </div>

    </div>
    <aside class="col-md-2">
        <section class="panel panel-default shadow">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Categories</h2>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-click="changeCategory(category.name)" ng-repeat="category in categories">
                        {{category.name}} </a>
                </div>
            </div>
        </section>

        <section class="panel panel-default shadow">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Towns</h2>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-click="changeTown(town.name)" ng-repeat="town in towns">
                        {{town.name}} </a>
                </div>
            </div>
        </section>
    </aside>
</div>
