<div class="row " ng-controller="HomeController">
    <aside class="col-md-2">
        <section class="panel panel-default shadow">

            <div class="panel-body">
                <p><strong>To publish a new ad, please login.</strong></p>

                <p>
                    <a href="#/login" class="btn btn-default" style="width: 100%;">Login</a>
                </p>

                <p>
                    <a href="#/register" class="btn btn-default" style="width: 100%;">Register</a>
                </p>
            </div>
        </section>
    </aside>
    <div class="col-md-8">
        <div class="panel panel-default shadow" ng-repeat="ad in ads">

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9"><h2 class="item-heading">{{ad.title}}</h2></div>
                    <div class="col-md-3"><span class="item-date">{{ad.date | date: 'd-MMM-yyyy'}}</span></div>
                </div>
                <div class="row">
                    <div class="col-md-4 label label-default image-container"  ng-switch on="ad.imageDataUrl">
                        <img src="" ng-src="" ng-switch-when="null">
                        <img src="" ng-src="{{ad.imageDataUrl}}" ng-switch-default>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                {{ad.text}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                Name:
                            </div>
                            <div class="col-md-10">
                                {{ad.ownerName}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                Email:
                            </div>
                            <div class="col-md-10">
                                {{ad.ownerEmail}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                Tel:
                            </div>
                            <div class="col-md-10">
                                {{ad.ownerPhone}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h4>Default</h4>
            <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
        </div>
    </div>
    <aside class="col-md-2">
        <section class="panel panel-default shadow">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Categories</h2>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="{{removeCategoryFiltrationUrl()}}" class="list-group-item"> All </a>
                    <a href="{{getCategoryUrl(category.id)}}" class="list-group-item"
                       ng-repeat="category in categories">
                        {{category.name}} </a>
                </div>
            </div>
        </section>

        <section class="panel panel-default shadow">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Towns</h2>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="{{removeTownFiltrationUrl()}}" class="list-group-item"> All </a>
                    <a href="{{getTownUrl(town.id)}}" class="list-group-item" ng-repeat="town in towns">
                        {{town.name}} </a>
                </div>
            </div>
        </section>
    </aside>
</div>
