<div class="row" ng-controller="LoginController">
    <aside class="col-md-2" ng-include="'templates/guest-menu.html'">
    </aside>
    <div class="col-md-10">
        <div class="alert alert-warning" role="alert" ng-show="showAlert">{{alertMessage}}</div>
        <div class="panel panel-default shadow">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Login</h2>
            </div>

            <div class="panel-body">
                <form name="loginForm">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="username">Username</label>

                            <input type="text" id="username" placeholder="Username" class="form-control"
                                   ng-model="user.username">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="control-label" for="inputPassword">Password</label>

                            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                   ng-model="user.password">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <button ng-click="login(user)" class="btn btn-default col-md-4">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
