<div class="row" ng-controller="PublishAdController">
    <aside class="col-md-2" ng-include="'templates/logged-menu.html'">
    </aside>
    <div class="col-md-10">
        <div class="alert alert-warning" role="alert" ng-show="publishAdAlert">{{alertMessage}}</div>
        <div class="panel panel-default shadow">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Publish New Ad</h2>
            </div>
            <div class="panel-body">
                <form name="adPublishForm">
                    <div class="row">
                        <div class="form-group col-md-9">
                            <label class="col-md-1" for="ad-title">Title: </label>

                            <div class="col-md-11">
                                <input type="text" ng-model="ad.title" required="required" id="ad-title"
                                       class="form-control"
                                       placeholder="Title"/>
                            </div>

                            <label class="col-md-1" for="ad-text">Text: </label>

                            <div class="col-md-11">
                                <textarea class="form-control col-md-10" required="required" ng-model="ad.text"
                                          name="adTextArea" id="ad-text" cols="40" rows="5"></textarea>
                            </div>
                        </div>

                        <div class="ad-img-container col-md-3">
                            <img src="" class="image-box" alt="ad image" data-ng-src="{{ad.imageDataUrl}}"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-1">Image: </label>

                            <div class="col-md-11">
                                <div class="fileUpload btn form-btn">
                                    <input type="file" class="upload-input"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-1" for="towns-select">Town: </label>

                            <div class="col-md-11">
                                <select class="form-control" name="townsSelect" ng-model="ad.townId">
                                    <option value="null" selected="selected">None</option>
                                    <option data-ng-repeat="category in categories" value="{{category.id}}">
                                        {{category.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-1" for="categories-select">Category: </label>

                            <div class="col-md-11">
                                <select name="categoriesSelect" class="form-control" ng-model="ad.categoryId">
                                    <option value="null" selected="selected">None</option>
                                    <option data-ng-repeat="category in categories" value="{{category.id}}">
                                        {{category.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group pull-left col-md-12 col-sm-12 col-xs-12">
                        <div>
                            <button data-ng-click="publish(ad, adPublishForm)"
                                    class="btn btn-default col-md-4">Publish
                            </button>
                            <a href="#/user/home" class="col-md-4 col-md-offset-1">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
