<div class="row">
    <aside class="col-md-2" ng-include="'templates/logged-menu.html'">
    </aside>
    <div class="col-md-10">
        <div class="alert alert-warning" role="alert" ng-show="showAlert">{{alertMessage}}</div>
        <div class="alert alert-success" role="success" ng-show="showSuccess">{{successMessage}}</div>
        <div class="panel panel-default shadow" ng-show="showForm">
            <div class="panel-heading">
                <h2 class="panel-title text-center">{{pageName}}</h2>
            </div>
            <div class="panel-body">
                <form name="adPublishForm">
                    <div class="row">
                        <div class="form-group col-md-9">
                            <label class="col-md-1" for="ad-title">Title: </label>

                            <div class="col-md-11">
                                <input type="text" ng-model="ad.title" required="required" id="ad-title"
                                       class="form-control"
                                       placeholder="Title"/>
                            </div>

                            <label class="col-md-1" for="ad-text">Text: </label>

                            <div class="col-md-11">
                                <textarea class="form-control col-md-10" required="required" ng-model="ad.text"
                                          name="adTextArea" id="ad-text" cols="40" rows="5"></textarea>
                            </div>
                        </div>

                        <div class="image-container col-md-3">
                            <img src="{{imageDataUrl}}" id="img-preview" alt="ad image"/>
                            <button class="btn btn-default" ng-click="deleteImage(ad)" ng-if="pageName == 'Edit Ad'">Delete image</button>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-1">Image: </label>

                            <div class="col-md-11">
                                <div browse-image preview="#img-preview" image="imageSetData"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-1" for="towns-select">Town: </label>

                            <div class="col-md-5">
                                <select class="form-control" name="townsSelect" ng-model="ad.townId">
                                    <option data-ng-repeat="town in towns" value="{{town.id}}">
                                        {{town.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-1" for="categories-select">Category: </label>

                            <div class="col-md-5">
                                <select name="categoriesSelect" class="form-control" ng-model="ad.categoryId">
                                    <option data-ng-repeat="category in categories" value="{{category.id}}">
                                        {{category.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group pull-left col-md-12">
                        <div>
                            <button ng-click="submit(ad, adPublishForm)"
                                    ng-disabled="adPublishForm.$invalid"
                                    class="btn btn-default col-md-4">{{buttonSubmitText}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
