<div class="row " ng-controller="UserAdsController">
    <aside class="col-md-2">
        <div ng-include="'templates/logged-menu.html'"></div>

        <section class="panel panel-default shadow">
        <div class="panel-heading">
            <h2 class="panel-title text-center">My Ads</h2>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <span class="list-group-item" ng-click="removeStatusFilter()">All</span>
                <span class="list-group-item" ng-click="changeStatusFilter('Published')">Published</span>
                <span class="list-group-item" ng-click="changeStatusFilter('WaitingApproval')">Waiting Approval</span>
                <span class="list-group-item" ng-click="changeStatusFilter('Inactive')">Rejected</span>
            </div>
        </div>
        </section>
    </aside>
    <div class="col-md-10">
        <div class="panel panel-default shadow" ng-repeat="ad in ads">

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-6"><h2 class="item-heading">{{ad.title}}</h2></div>
                            <div class="col-md-3"><span class="item-date">{{ad.date | date: 'd-MMM-yyyy'}}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 label label-default image-container" ng-switch on="ad.imageDataUrl">
                                <img src="" ng-src="" ng-switch-when="null">
                                <img src="" ng-src="{{ad.imageDataUrl}}" ng-switch-default>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ad.text}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        Name:
                                    </div>
                                    <div class="col-md-10">
                                        {{ad.ownerName}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        Email:
                                    </div>
                                    <div class="col-md-10">
                                        {{ad.ownerEmail}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        Tel:
                                    </div>
                                    <div class="col-md-10">
                                        {{ad.ownerPhone}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        Status
                        <div class="text-center">{{ad.status}}</div>
                        <a href="" ng-if="ad.status=='WaitingApproval' || ad.status=='Published'" class="btn btn-default col-md-12">Deactivate</a>
                        <a href="#/user/ads/edit/{{ad.id}}" ng-if="ad.status=='Inactive'"
                           class="btn btn-default col-md-12">Edit</a>
                        <a href="" ng-if="ad.status=='Inactive'" ng-click="publishAgain(ad)"
                           class="btn btn-default col-md-12">Publish Again</a>
                        <a href="#/user/ads/delete/{{ad.id}}" ng-if="ad.status=='Inactive'"
                           class="btn btn-default col-md-12">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="areAdsLoaged">
            <div pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
                 items-per-page="pageSize" previous-text="‹" next-text="›"></div>
        </div>
    </div>
</div>
